@CHARSET "UTF-8";


.box1 {
	width : 45%;
	height : 240px;
	border : 1px;
	border-style: solid;
}

.box2 {
	width : 45%;
	height : 240px;
	border : 1px;
	border-style: solid;
}

.box3 {
	width : 45%;
	height : 240px;
	border : 1px;
	border-style: solid;
}

.box4 {
	width : 45%;
	height : 240px;
	border : 1px;
	border-style: solid;
}