@CHARSET "UTF-8";

#title {
	width : 500px;
	height : 60px;
	/* border: 1px dotted; */
	margin : 30px 0px 0px 200px;
	padding : 0px 0px 0px 140px;
}

.loginForm {
	margin : 10px 0px 0px 370px;
}

#btnArea {
	margin : 10px 0px 0px 420px;
}

#linkArea {
	margin : 10px 0px 0px 455px;
} 